/* HEADER */
header {
    height: 100vh;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* form container */
header .form-container {
    width: 300px;
    height: 450px;
    padding: 10px;

    background-color: salmon;
    border: 2px solid white;
    border-radius: 20px;

    transition: 300ms ease;
}

header .form-container:hover {
    background-color: transparent;
    /* border: 1px solid white; */
}



.form-container h2 {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 100;
    font-family: sans-serif, 'Lucida Sans';

    color: white;
    text-align: center;
}

/* button */
.form-container button {
    /* outline: none; */
    border: 1px solid white;
    padding: 10px;
    width: 100%;

    background-color: black;
    color: salmon;
    cursor: pointer;

    transition: 300ms ease;
}

.form-container button:hover {
    background-color: white;
    color: black;
    border-radius: 10px;
}

/* form */
header form {
    background-color: transparent;
}


/* input */
form input::placeholder {
    color: white;
}

form input {
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;

    padding: 10px;
    margin-bottom: 25px;
    width: 100%;

    transition: 300ms ease;
}

form input:focus {
    background-color: white;
}